<!DOCTYPE html>
<html>
    <head>
        <title>ITech</title>

        <link  href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link  href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link  href="lib/angularjs-slider-6.4.0/rzslider.min.css" rel="stylesheet">

        <link  href="assets/extra.css" rel="stylesheet">
        <link  href="assets/my-style.css" rel="stylesheet">
        <link  href="assets/responsive-menu.css" rel="stylesheet">
        
        <link  href="pages/home/home.css" rel="stylesheet">
        <link  href="pages/vehicles/vehicles.css" rel="stylesheet">
        <link  href="pages/users/users.css" rel="stylesheet">
        <link  href="pages/login/login.css" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--use local font file for testing, can enable this when deploy-->
        <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa%3A400%2C700&amp;ver=4.7.3" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa%3A700" type="text/css">-->
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-400-700-v4-7-3.css" type="text/css">
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-700.css" type="text/css">
    </head>
    <body ng-app="itechApp" ng-controller="itechCtrl as itech" ng-init="itech.init();">
        <button id="responsive-menu-button"
                class="responsive-menu-button responsive-menu-accessible responsive-menu-boring" 
                type="button" aria-label="Menu"
                ng-click="itech.showMenu = !itech.showMenu"
                ng-class="{ 'is-active': itech.showMenu }">
            <span class="responsive-menu-box"><span class="responsive-menu-inner"></span></span>
        </button>
        <div id="responsive-menu-container" class="slide-left"
             ng-class="{ 'slide-left': !itech.showMenu }">
            <div id="responsive-menu-wrapper" class="p-a-3">
                <ul id="responsive-menu" class="">
                    <li id="responsive-menu-item-home" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="itech.showMenu = !itech.showMenu" ui-sref="home" class="responsive-menu-item-link">
                            <span ng-bind="itech.currentLanguage == 'en' ? 'Home' : 'Laman Utama'"></span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-vehicles" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="itech.showMenu = !itech.showMenu" ui-sref="vehicles" class="responsive-menu-item-link">
                            <span ng-bind="itech.currentLanguage == 'en' ? 'Vehicles' : 'Kenderaan'"></span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-users" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="itech.showMenu = !itech.showMenu" ui-sref="users" class="responsive-menu-item-link">
                            <span ng-bind="itech.currentLanguage == 'en' ? 'Users' : 'Pengunna'"></span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-login" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="itech.showMenu = !itech.showMenu" ui-sref="login" class="responsive-menu-item-link">
                            <span ng-bind="itech.token ? 'Logout' : 'Login'"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 operating-hours"></div>
                    <div class="col-xs-12 col-md-6 hotline">
                        <div class="action-in-header text-xs-center text-md-right">
                            <div class="translation-select-div">
                                <div class="dropdown">
                                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="translation-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span ng-bind="itech.currentLanguage == 'en' ? 'English' : 'Bahasa Melayu';"></span>
                                    </button> -->
                                    <!-- <div class="dropdown-menu" aria-labelledby="translation-dropdown">
                                        <a ng-if="itech.currentLanguage == 'en'" ng-click="itech.toggleLanguage('bm');" class="dropdown-item">Bahasa Melayu</a>
                                        <a ng-if="itech.currentLanguage == 'bm'" ng-click="itech.toggleLanguage('en');" class="dropdown-item">English</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle p-t-1">
        	<div class="container">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-md-4 text-xs-center">
                        <a href="/">
                            <img src="images/logo-long.png" width="170" alt="logo">
                        </a>
                    </div>
                    <div class="navigation-menu col-sm-8 hidden-sm-down">
                        <nav class="navbar-collapse collapse navbar-ex1-collapse">
                            <ul id="menu-main-menu" class="nav navbar-nav">
                                <li ui-sref-active="active" class="header-menu menu-item-home"><a title="Home" ui-sref="home">
                                    <span ng-bind="itech.currentLanguage == 'en' ? 'Home' : 'Laman Utama'"></span>
                                </a></li>
                                <li ui-sref-active="active" class="header-menu menu-item-vehicles"><a title="Vehicles" ui-sref="vehicles">
                                    <span ng-bind="itech.currentLanguage == 'en' ? 'Vehicles' : 'Kenderaan'"></span>
                                </a></li>
                                <li ui-sref-active="active" class="header-menu menu-item-users"><a title="Users" ui-sref="users">
                                    <span ng-bind="itech.currentLanguage == 'en' ? 'Users' : 'Pengguna'"></span>
                                </a></li>
                                <li ui-sref-active="active" class="header-menu menu-item-login"><a title="Login or Logou" ui-sref="login">
                                    <span ng-bind="itech.token ? 'Logout' : 'Login'"></span>
                                </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content">
            <h1 class="page-title container text-xs-center text-uppercase" ng-bind="itech.pageTitle"></h1>
            <section class="_main-ui-view _content p-t-1" ui-view autoscroll="false"></section>
        </div>

        <div class="site-footer p-y-1">
            <div class="container">
                <div class="row">                                          
                    <div class="footer-copyright col-xs-12 col-md-4 text-xs-center text-lg-left hidden-xs-up">
                        <div ng-if="itech.currentLanguage == 'en'">
                            Permit No: WP5150/10/01-6/290517<br> 
                            License No: WL5150/10/01-6/290517 issued by KPKT<br>
                            Copyright ©2017 All rights reserved.
                        </div>
                        <div ng-if="itech.currentLanguage == 'bm'">
                            No Permit: WP5150/10/01-6/290517
                            No. Lesen: WL5150/10/01-6/290517 dikeluarkan oleh KPKT
                            ©2017. Semua hak terpelihara kepada First Credit.
                        </div>
                    </div>
                    <div style="line-height:1.4;padding:10px;" id="footer-address" class="col-xs-12 col-md-4 text-xs-center text-lg-left hidden-xs-up">
                        15, Lorong Brunei 3, <br>
                        Pudu, 55100 Cheras, <br>
                        Wilayah Persekutuan Kuala Lumpur
                    </div>
                    <div class="footer-contact col-xs-12 col-md-4 text-xs-left">

                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div>
        </div>

        <div id="login-notification" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="mlab-modal-title"></h4>
                    </div>
                    <div class="modal-body text-xs-center">  
                        Please login to proceed.
                    </div>
                </div>
            </div>
        </div>

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="lib/tether/dist/js/tether.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="assets/load-json.js"></script>
        <script src="assets/cookie.js"></script>
        <script src="lib/angularjs-slider-6.4.0/rzslider.min.js"></script>

        <script src="assets/smooth-scroll.js"></script>
        <script src="assets/config-local.js"></script>
        <script src="assets/app.js"></script>
        <script src="assets/app/itech.js"></script>
        <script src="assets/app/itech.factory.js"></script>
        <script src="assets/app/itech.resources.js"></script>
        <script src="assets/app/itech.controller.js"></script>
    </body>
</html>