<div class="page-home page-home-en">
    <section class="container">
        <hr class="m-y-0">
        <div class="tab-selections">
            <div ng-repeat="tab in itech.homeSelections"
                 class="menu-item tab-select text-xs-center">
                <button class="btn p-x-2"
                        ng-bind="tab.label" 
                        ng-click="itech.tabSelected = tab; itech.changeTab(tab.key);" 
                        ng-class="itech.tabSelected == tab ? 'active btn-primary' : 'btn-info btn-sm'">
                </button>
            </div>
            <div class="tab-select pull-right">
                <span>Company: </span>
                <select id="company-selection" 
                        class="itech-selection" 
                        ng-options="company as company.label for company in itech.companies" 
                        ng-model="itech.selectedCompany">
                </select>
            </div>
        </div>
        <hr class="m-t-0">
        <div class="home-content">
            <div class="home-content-item" ng-repeat="item in itech.homeSelections" ng-show="itech.tabSelected.key == item.key">
                <section class="item-listing" ng-if="item.type == 'list'">
                    <div ng-show="itech.data.vehicle.length">
                        <table id="table-{{ item.key }}" class="itech-table table table-responsive table-striped table-bordered table-hover">
                            <thead class="thead bg-primary">
                                <tr>
                                    <th width="250">Name</th>
                                    <th width="150">Distance</th>
                                    <th width="150">Time</th>
                                    <th width="150">Status</th>
                                    <th width="200">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in itech.data.vehicle | companyFilter:itech.selectedCompany">
                                    <td class="vehicle-name"><i class="fa fa-car"></i> {{ vehicle.name }}</td>
                                    <td>{{ vehicle.last_check.distance }} KM</td>
                                    <td><span ng-if="vehicle.last_check.time" ng-bind="vehicle.last_check.time | toHourMinute"></span></td>
                                    <td class="status-indicator-div text-xs-center">
                                        <div class="status-indicator small"
                                              ng-bind="vehicle.today_checkin ? 'Check' : 'Uncheck'"
                                              ng-class="vehicle.today_checkin ? 'bg-success' : 'bg-warning'">
                                        </div>
                                        <div class="status-indicator small"
                                              ng-bind="vehicle.breakdown ? 'Breakdown' : 'Acitve'"
                                              ng-class="vehicle.breakdown ? 'bg-danger' : 'bg-success'">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="cta-daily btn btn-secondary btn-sm btn-block" 
                                                ng-click="itech.openModal('daily-report-form');
                                                    itech.dailyReport.field = itech.initDailyCheckForm(itech.dailyReport.field, vehicle.last_check);">
                                            Perform Daily Check
                                        </button>
                                        <button class="cta-breakdown btn btn-secondary btn-sm btn-block"
                                                ng-if="!vehicle.breakdown"
                                                ng-click="itech.openModal('breakdown-report-form');
                                                    itech.breakdownReport.breakdownInfo = null;
                                                    itech.breakdownReport.field.vehicle_id = vehicle.id;
                                                    itech.breakdownReport.field.company_id = vehicle.company_id;">
                                            Report Breakdown
                                        </button>
                                        <button class="cta-breakdown btn btn-secondary btn-sm btn-block"
                                                ng-if="vehicle.breakdown"
                                                ng-click="itech.openModal('breakdown-report-form');
                                                    itech.breakdownReport.field.vehicle_id = vehicle.id;
                                                    itech.breakdownReport.field.company_id = vehicle.company_id;
                                                    itech.breakdownReport.field.id = vehicle.last_breakdown.id;
                                                    itech.breakdownReport.breakdownInfo = vehicle.last_breakdown;">
                                            Report Fixed
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-hide="itech.data.vehicle.length">
                        Loading...
                    </div>
                </section>
                <section class="item-report" ng-if="item.type == 'report'" ng-init="itech.getReports();">
                    <div ng-show="itech.data.reports.length">
                        <div class="row cta-div p-b-1 p-r-1">
                            <div class="col-xs-6">
                                <span class="filter-text pull-left" style="padding: .25rem .75rem;">Filter: </span>
                                <input id="itech-datepicker" 
                                       type="text" 
                                       class="form-control form-control-2 input-sm" 
                                       placeholder="Select date"
                                       ng-model="itech.selectedMonth"
                                       ng-change="itech.getReports('update');">
                                <button class="cta-buttun cta-download btn btn-secondary btn-sm"
                                        ng-click="itech.selectedMonth = ''">
                                    Reset
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="cta-buttun cta-print btn btn-secondary btn-sm pull-right"
                                        ng-click="itech.printTable('#table-' + item.key);">
                                    Print
                                </button>
                                <button class="cta-buttun cta-download btn btn-secondary btn-sm pull-right"
                                        ng-click="itech.exportToExcel('#table-' + item.key, item.label);">
                                    Download
                                </button>
                            </div>
                        </div>
                        <table id="table-{{ item.key }}" 
                               class="itech-table table table-responsive table-striped table-bordered table-hover"
                               border="1"
                               style="border-collapse: collapse;">
                            <thead class="thead bg-success">
                                <tr>
                                    <th width="250">Name</th>
                                    <th width="200">Number of Uncheck</th>
                                    <th width="200">Number of Breakdown</th>
                                    <th width="200">Last Breakdown</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in itech.data.reports | companyFilter:itech.selectedCompany | monthFilter: itech.selectedMonth">
                                    <td><i class="fa fa-car"></i> {{ vehicle.name }}</td>
                                    <td class="text-xs-center">{{ vehicle.all_uncheck.length }}</td>
                                    <td class="text-xs-center">{{ vehicle.all_breakdown.length }}</td>
                                    <td>{{ vehicle.report && vehicle.report.last_breakdown }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-hide="itech.data.reports.length">
                        Loading...
                    </div>
                </section>
            </div>

        </div>
    </section>

    <div id="daily-report-form" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mlab-modal-title m-b-0" ng-bind="itech.dailyReport.title"></h3>
                </div>
                <div class="modal-body text-xs-center">  
                    <form class="form-horizontal text-xs-left" name="itech.addDailyCheck">
                        <div class="m-t-1 m-b-2">
                            <div class="form-group">
                                <div class="vehicle-name strong"><strong># <span ng-bind="itech.dailyReport.field.vehicle_id | getVehicleName:itech.data.vehicle"></span></strong></div>
                                <div class="company-name" ng-bind="itech.dailyReport.field.company_id | getCompanyName:itech.companies"></div>
                            </div>
                            <div class="form-group row">
                                <label for="inputDistance" class="col-sm-4 control-label">Distance *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputDistance" placeholder="Distance travelled" ng-model="itech.dailyReport.field.distance">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="inputTime" class="col-sm-4 control-label">Time</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputTime" placeholder="Time checked" ng-model="itech.dailyReport.field.time">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="inputChecklist" class="col-sm-4 control-label">Checklist *</label>
                                <div class="col-sm-8">
                                    <div class="checklist-item" ng-repeat="item in itech.vehicleParts">
                                        <input class="checklist-input"
                                               id=="'inputCheclist_' + {{ item.label }}"
                                               type="checkbox" 
                                               ng-model="itech.dailyReport.field[item.key]">
                                        <label class="checklist-label"
                                               for="'inputCheclist_' + {{ item.label }}"
                                               ng-bind="item.label"
                                               ng-click="itech.dailyReport.field[item.key] = !itech.dailyReport.field[item.key]"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-messages text-xs-center p-b-2" ng-show="itech.dailyReport.messages.length">
                            <div class="text-danger small" ng-repeat="msg in itech.dailyReport.messages" ng-bind="msg.text"></div>
                        </div>
                        <div class="form-action text-xs-center">
                            <button type="button" ng-click="itech.dailyReportSubmit(itech.dailyReport);" class="btn btn-primary">
                                Submit
                                <img ng-if="itech.dailyReport.isBusy" 
                                     src="images/loading.gif" 
                                     width="28"
                                     style="margin-left: 10px; margin-right: -10px;">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="breakdown-report-form" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mlab-modal-title m-b-0" ng-bind="itech.breakdownReport.title"></h3>
                </div>
                <div class="modal-body">  
                    <form class="form-horizontal" name="itech.addBreakdown">
                        <div class="m-t-1 m-b-2">
                            <div class="form-group">
                                <div class="p-b-1">
                                    <h6>Vehicle:</h6>
                                    <h4 ng-bind="itech.breakdownReport.field.vehicle_id | getVehicleName:itech.data.vehicle" ></h4>
                                </div>
                                <div class="p-b-1">
                                    <h6>Company:</h6>
                                    <h4 ng-bind="itech.breakdownReport.field.company_id | getCompanyName:itech.companies"></h4>
                                </div>
                                <div class="breakdown-report" ng-if="!itech.breakdownReport.breakdownInfo">
                                    <div class="form-group row">
                                        <label for="inputBreakdownType" class="col-sm-4 control-label">Type of Breakdown *</label>
                                        <div class="col-sm-8">
                                            <select id="inputBreakdownType" class="itech-selection" ng-model="itech.breakdownReport.field.breakdownType">
                                                <option class="text-capitalize"
                                                        ng-repeat="type in itech.breakdownTypes"
                                                        ng-bind="type.label" 
                                                        ng-value="type.key">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputRemark" class="col-sm-4 control-label">Remarks</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputRemark" placeholder="Things to take note" ng-model="itech.breakdownReport.field.remarks">
                                        </div>
                                    </div>
                                </div>
                                <div class="breakdown-fixed" ng-if="itech.breakdownReport.breakdownInfo">
                                    <div class="p-b-1">
                                        <h6>Breakdown Time:</h6>
                                        <h4>{{ itech.breakdownReport.breakdownInfo.created_at }}</h4>
                                    </div>
                                    <div class="p-b-1">
                                        <h6>Type of Breakdown:</h6>
                                        <h4 ng-repeat="break in itech.breakdownReport.breakdownInfo | validBreak:itech.breakdownTypes">{{ break }}</h4>
                                    </div>
                                    <div class="p-b-1">
                                        <h6>Remarks:</h6>
                                        <p style="border: 1px solid lightblue; padding: 0.5rem;">{{ itech.breakdownReport.breakdownInfo.remarks.remarks }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-messages text-xs-center p-b-2" ng-show="itech.breakdownReport.messages.length">
                            <div class="text-danger small" ng-repeat="msg in itech.breakdownReport.messages" ng-bind="msg.text"></div>
                        </div>
                        <div class="form-action text-xs-center">
                            <button type="button" 
                                    ng-if="!itech.breakdownReport.breakdownInfo"
                                    ng-click="itech.breakdownSubmit(itech.breakdownReport);"
                                    class="btn btn-primary">
                                Submit
                                <img ng-if="itech.breakdownReport.isBusy" 
                                     src="images/loading.gif" 
                                     width="28"
                                     style="margin-left: 10px; margin-right: -10px;">
                            </button>
                            <button type="button"
                                    ng-if="itech.breakdownReport.breakdownInfo"
                                    ng-click="itech.breakFixedSubmit(itech.breakdownReport);" 
                                    class="btn btn-danger">
                                Fixed
                                <img ng-if="itech.breakdownReport.isBusy" 
                                     src="images/loading.gif" 
                                     width="28"
                                     style="margin-left: 10px; margin-right: -10px;">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>