@media (min-width: 768px) {
    .page-home .home-content-item table.table-responsive {
        width: max-content;
        margin: auto;
    }
}

.page-home .home-content-item table .status-indicator {
    padding: 0.3rem;
    margin: 0.1rem;
}

.page-home .tab-selections .tab-select {
    display: inline-block;
    padding: 0.75rem;
}

.page-home #itech-datepicker {
    width: 150px;
    display: inline-block;
}

.page-home div.modal .vehicle-name {
    font-size: 150%;
    color: darkblue;
}
.page-home div.modal .company-name {
    font-size: 150%;
}

#report-details-modal .tab-button {
    border-bottom: 5px solid transparent;
    padding-bottom: .5rem;
}
#report-details-modal .tab-button.active {
    border-color: navy;
}

#report-details-modal .list-item:not(:last-child) {
    border-bottom: 1px solid gray;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}
#report-details-modal .list-item .value {
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 8px;
}