.page-home .home-content-item table .status-indicator {
    padding: 0.3rem;    
}

.page-home .tab-selections .tab-select {
    display: inline-block;
    padding: 0.75rem;
}

.page-home .tab-selections select#company-selection {
    width: 150px;
    padding: 0.25rem;
    height: 1.9rem;
}

.page-home #itech-datepicker {
    width: 150px;
}