<div class="page-home page-home-en" ng-init="itech.initHome();">
    <section class="container">
        <hr class="m-t-0">
        <div class="tab-selections m-b-2">
            <div class="row">
                <div class="col-md-4" ng-repeat="tab in itech.homeSelections">
                    <div class="menu-item tab-select text-xs-center">
                        <button class="btn p-x-2"
                                ng-bind="tab.label" 
                                ng-click="itech.tabSelected = tab; itech.changeTab(tab.key);" 
                                ng-class="itech.tabSelected == tab ? 'active btn-success' : 'active btn-info'">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-b-2">
        <div class="home-content">
            <div class="home-content-item" ng-repeat="item in itech.homeSelections" ng-show="itech.tabSelected.key == item.key">
                <section class="item-listing" ng-if="item.type == 'list'">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead bg-primary">
                            <tr>
                                <th>head 1</th>
                                <th>head 2</th>
                                <th>head 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>val 1</td>
                                <td>val 2</td>
                                <td>val 3</td>
                            </tr>
                            <tr>
                                <td>val 4</td>
                                <td>val 5</td>
                                <td>val 6</td>
                            </tr>
                            <tr>
                                <td>val 1</td>
                                <td>val 2</td>
                                <td>val 3</td>
                            </tr>
                            <tr>
                                <td>val 4</td>
                                <td>val 5</td>
                                <td>val 6</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="item-report" ng-if="item.type == 'report'">
                    <div ng-show="itech.data.vehicle.length">
                        <div class="cta-div p-b-1 p-r-1 text-xs-right">
                            <button class="cta-buttun cta-download btn btn-secondary btn-sm"
                                    ng-click="itech.exportToExcel('#table-' + item.key, item.label);">
                                Download
                            </button>
                        </div>
                        <table id="table-{{ item.key }}" class="table table-striped table-bordered table-hover">
                            <thead class="thead bg-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>MAB Expire</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in itech.data.vehicle">
                                    <td>{{ vehicle.id }}</td>
                                    <td>[car-icon] {{ vehicle.name }}</td>
                                    <td>{{ vehicle.mab_expired }}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-hide="itech.data.vehicle.length">
                        Loading...
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>