<div class="page-vehicles page-vehicles-en english" ng-if="itech.data.user.user_level == '1'">
    <section class="container">
        <hr class="m-t-0">
        <div class="vehicle-list" ng-if="itech.data.vehicle">
            <div class="text-xs-center text-md-right m-b-2">
                <button class="btn btn-success btn-sm"
                        ng-click="itech.openModal('vehicle-form');
                                  itech.vehicleForm.title = 'Add Vehicle';
                                  itech.vehicleForm.field = {};
                                  itech.vehicleForm.field.param = 'create';">
                    <i class="fa fa-plus"></i>
                    <span>Add New</span>
                </button>
            </div>
            <div class="itech-table vehicle-item p-y-1" ng-repeat="vehicle in itech.data.vehicle">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="vehicle-name"><i class="fa fa-car"></i> <span ng-bind="vehicle.name"></span></div>
                        <div class="vehicle-desc text-muted" ng-bind="itech.companies[vehicle.company_id].label"></div>
                    </div>
                    <div class="col-xs-3 text-xs-right">
                        <button class="action-edit btn btn-info btn-sm"
                                ng-click="itech.vehicleForm.field = {};
                                          itech.vehicleForm.field.param = 'edit';
                                          itech.vehicleForm.field.name = vehicle.name;
                                          itech.vehicleForm.field.id = vehicle.id;
                                          itech.vehicleForm.field.company_id = vehicle.company_id;
                                          itech.vehicleForm.field.mab_expired = vehicle.mab_expired;
                                          itech.vehicleForm.title = 'Edit Vehicle';
                                          itech.openModal('vehicle-form');">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </button>
                        <button class="action-edit btn btn-danger btn-sm"
                                ng-click="itech.vehicleForm.field = {};
                                        itech.vehicleForm.field.param = 'delete';
                                        itech.vehicleForm.field.name = vehicle.name;
                                        itech.vehicleForm.field.id = vehicle.id;
                                        itech.vehicleForm.field.company_id = vehicle.company_id;
                                        itech.vehicleForm.field.mab_expired = vehicle.mab_expired;
                                        itech.vehicleForm.title = 'Delete Vehicle';
                                        itech.openModal('vehicle-delete-form');">
                            <i class="fa fa-trash"></i>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="itech-paginator text-xs-center m-t-2">
                <strong class="p-r-1">Page: </strong>
                <a class="page-item"
                   ng-click="itech.getVehicle($index + 1); itech.data.vehicle = [];"
                   ng-repeat="page in itech.data.vehiclePaginator.pageArr">
                   <span ng-class="{ 'active': itech.data.vehiclePaginator.page == page }">{{ page }}</span>
                </a>
            </div>
        </div>
        <div class="loading" ng-if="!itech.data.vehicle.length">
            Loading...
        </div>
    </section>

    <div id="vehicle-form" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mlab-modal-title m-b-0" ng-bind="itech.vehicleForm.title"></h3>
                </div>
                <div class="modal-body text-xs-center">
                    <form class="form-horizontal text-xs-left" name="itech.vehicleForm">
                        <div class="m-t-1 m-b-2">
                            <div class="form-group row">
                                <label for="inputAssignCompany" class="col-sm-4 control-label">Assign Company *</label>
                                <div class="col-sm-8">
                                    <select id="inputAssignCompany" class="itech-selection"
                                            data-ng-options="company.key as company.label for company in itech.companies"
                                            data-ng-model="itech.vehicleForm.field.company_id">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputVehicleName" class="col-sm-4 control-label">Name *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputVehicleName" placeholder="Vehicle name" ng-model="itech.vehicleForm.field.name">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="inputVehicleMAB" class="col-sm-4 control-label">MAB Expired Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="inputVehicleMAB" placeholder="Vehicle name" ng-model="itech.vehicleForm.field.mab_expired">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-messages text-xs-center p-b-2" ng-show="itech.vehicleForm.messages.length">
                            <div class="text-danger small" ng-repeat="msg in itech.vehicleForm.messages" ng-bind="msg.text"></div>
                        </div>
                        <div class="form-action text-xs-center">
                            <button type="button" ng-click="itech.formSubmit(itech.vehicleForm);" class="btn btn-primary">
                                Submit
                                <img ng-if="itech.vehicleForm.isBusy" 
                                     src="images/loading.gif" 
                                     width="28"
                                     style="margin-left: 10px; margin-right: -10px;">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="vehicle-delete-form" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mlab-modal-title m-b-0" ng-bind="itech.vehicleForm.title"></h3>
                </div>
                <div class="modal-body text-xs-center">
                    <form class="form-horizontal text-xs-center" name="itech.deleteVehicle">
                        <h4 class="text-danger p-y-2">Are you sure you want to delete this entry?</h4>
                        <div class="m-t-1 m-b-2">
                            <div class="p-b-1">
                                <h6 class="text-muted">Vehicle Name:</h6>
                                <h5>{{ itech.vehicleForm.field.name }}</h5>
                            </div>
                            <div class="p-b-1">
                                <h6 class="text-muted">Company Name:</h6>
                                <h5>{{ itech.vehicleForm.field.company_id | getCompanyName:itech.companies }}</h5>
                            </div>
                            <div class="p-b-1">
                                <h6 class="text-muted">MAB Expired:</h6>
                                <h5>{{ itech.vehicleForm.field.mab_expired }}</h5>
                            </div>
                        <hr>
                        <div class="form-messages text-xs-center p-b-2" ng-show="itech.vehicleForm.messages.length">
                            <div class="text-danger small" ng-repeat="msg in itech.vehicleForm.messages" ng-bind="msg.text"></div>
                        </div>
                        <div class="form-action text-xs-center">
                            <button type="button" ng-click="itech.formSubmit(itech.vehicleForm);" class="btn btn-danger">
                                Yes, I want to delete
                                <img ng-if="itech.vehicleForm.isBusy" 
                                     src="images/loading.gif" 
                                     width="28"
                                     style="margin-left: 10px; margin-right: -10px;">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>